<%= form_with scope: :article, url: articles_path, local: true do |form| %>
<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>
<p>
    <%= form.label :slug %><br>
    <%= form.text_field :slug %>
</p>
<p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
</p>
<p>
    <%= form.label :topic %><br>
    <%= form.collection_select(:topic, Category.all, :topic, :topic, :prompt => "Select a category") %>

</p>
<p>
    <%= form.submit %>
</p>
<% end %>