<% provide(:title, "Editing article") %>

<h1>Editing article: <%= @article.title %></h1>

<%= form_for( @article) do |f| %>

<%= f.label :title %>
<%= f.text_field :title %><br>

<%= f.label :body %>
<%= f.text_area :body %><br>

<%= f.label :topic %>
<%= f.select(:topic, options_for_select([['Rants', 'Rants'], ['Tech', 'Tech'], ['Cars', 'Cars']])) %><br>
    
<%= f.submit "Submit changes" %>

<% end %>